<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
            <h1><a href=""></a></h1>

        </div>

        <div class="container">
		<div class="row12">
		<h1>Django Girls Blog <strong><i class="fa fa-beer"></i></strong></h1><br><br>

        {% for post in posts %}
        <div>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>published: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
    	</div>
    	</div>
    </body>
</html>